*.core
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.ac
configure~
depcomp
install-sh
lib/.deps
lib/.libs
lib/Makefile
lib/Makefile.in
lib/libmarad.*
lib/marad.lo
libtool
ltmain.sh
m4
man/Makefile
man/Makefile.in
marad.pc
missing
stamp-h1
